# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# Production build
build/

# Mac OS
.DS_Store

# Windows
Thumbs.db
